/* global variable section */
:root {
    --navFontSize:15px;
    --navColor:#dc3545;
    --bgColor:#f7e8ca;
    --f-bg: #f8fbff;
    --bg2:rgba(3, 113, 128, 0.5);
}

/* global css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
h1,h2,h3,h4,h5,h6 {
    cursor: pointer;
}

h5 {
    font-size: 22px;
    margin: 10px 0px;
    font-weight: 400;
}

 h5 a {
    color: #000;
}

h5:hover a {
    color: blue;
}

color {
    color:var(--navColor);
    font-size: 25px !important;
    font-weight: 400;
}

.f-header {
    width: 100%;
    text-align: center;
    margin-bottom: 42px;
    font-weight: 600;
}

.theme-btn {
    padding: 8px 16px;
    font-size: 15px;
    font-weight: 600;
    background-color: var(--navColor) !important;
    color: #fff !important;
    border-radius:5px;
    text-decoration: none;
    transition: .3s;
    border: none;
    cursor: pointer;
}

.theme-btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: #a11826 !important;
}

.owl-theme .owl-dots .owl-dot {
    position: absolute !important;
    left: 105% !important;
    top: 50% !important;
    transform: translateY(-70%) !important;
    font-size: 5em !important;
}

.owl-theme .owl-dots .owl-dot span {
    width: 100px !important;
    height: 100px !important;
    background: none !important;
    display: none !important;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 0 !important;
    padding: 10px !important;
}

.owl-theme .owl-dots .active span {
    display: grid !important;
    place-content: center !important;
    place-items: center !important;
    background-color: var(--bg2) !important;
    padding: 20px !important;
    color: rgba(255, 255, 255, 0.5) !important;
    font-weight: 700 !important;

}
#bestSells .owl-dots,
#products .owl-dots {
    display: none;
}

.selected-page a {
    color: var(--navColor) !important;
    margin: 0px 5px;
}
/* navigation section */

header {
    width: 100%;
    padding: 20px 0px; /* Adjust this padding for the transition effect */
    background-color: var(--bgColor);
    transition: padding 0.5s ease; 
    padding: 10px 0px;
}

.sticky {
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 1000 !important;
    padding: 0px 0px !important;
    box-shadow: 0px 2px 10px #0005 !important;
}


.nav-item {
    font-weight: 500 !important;
    font-size: var(--navFontSize);
    margin: 0px 5px;
}

.active a{
    color: var(--navColor);
}

.nav-item .nav-link {
    transition: .3s;
}

.nav-item:hover .nav-link {
    color: var(--navColor) !important;
}

.nav-icon {
    margin-left: 22px;
    color: #000;
    font-size: var(--navFontSize) !important;
}

.nav-link {
    position: relative;
}

.sub-menu {
    list-style: none;
    padding: 10px;
    border-radius: 4px;
    border: .5px solid #0005;
    font-size: 16px;
    width: 150px;
    line-height: 1.5;
    position: absolute;
    top: 90%;
    transform: translateY(-20px) scale(1, 0);
    opacity: 0;
    transform-origin: center top;
    transition: .3s;
    background-color: #fff;
    z-index: 1000;
}

.nav-item:hover .sub-menu {
    transform: translateY(0px) scale(1, 1);
    opacity: 1;
}

.sub-menu li a{
    color: #000;
}

.sub-menu li {
    transition: .3s;
}

.sub-menu li:hover {
    transform: translate(3px);
}

.sub-menu li:hover a {
    text-decoration: none;
    color: var(--navColor);
    transform: translate(10px 10px);
}

.nav-icon {
    cursor: pointer;
    position: relative;
    transition: .3s;
}

.nav-icon:hover {
    color: var(--navColor);
}

.nav-icon span {
    position:absolute;
    background-color: red;
    display: inline-block;
    font-size: 12px;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    text-align: center;    
    line-height: 16px;
    color: #fff;
    top: -25%;
    right: -60%;
}

#search-icon {
    cursor: pointer;
    transition: .3s;
}
#search-icon:hover {
    color: var(--navColor);
}

/* search-bar section */
.search-bar {
    position: fixed;
    padding: 20px;
    top: 100px;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #0005;
    transform: scale(1,0);
    transform-origin: top top;
    transition: .3s;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px #fff5;
}

.show-search {
    transform: scale(1,1) !important;

}

/* Banner section */
.banner {
    width: 100% !important;
    background-color: var(--bgColor);
    max-height: 100vh !important;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.banner-content h1 {
    font-weight: 700;
}

.banner-content p {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.8;
    margin: 0px 20px 40px 0px;
}

.owl-nav {
    position: absolute !important;
    background-color: white !important;
    padding: 10px 20px !important;
    right: 0 !important;
    bottom: 0 !important;
}

.owl-theme .owl-nav:hover {
    background: #fff !important;
    color: #FFF !important;
    text-decoration: none !important;
}

.owl-prev span, .owl-next span {
    font-size: 20px !important;
    font-weight: 700;
    color: #0005;

}

.owl-prev span:hover, .owl-next span:hover {
    background-color: #fff !important;
    border: 0 !important;

}

.owl-prev, .owl-next {
    margin: 0px 20px;
}


/* Featured section */

.featured {
    margin: 80px 0px;
}



.featured .f-category {
    background-color: var(--f-bg);
    padding: 30px 20px 20px 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 40vh;
}

.featured .f-category  a {
    position: absolute;
    bottom: 20px;
    color: var(--navColor);
    z-index: 100;
    transform: translateY(-10px);
    opacity: 0;
    transition: .3s ease-in-out;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    text-shadow: 0px 0px 10px #0005;
    background-color: #0005;
    backdrop-filter: blur(5px);
}

.featured .f-category:hover a {
    transform: translateY(0px);
    opacity: 1;
}

.featured .f-category .f-content {
    z-index: 100;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    padding: 10px;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.featured .f-category .f-content p {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 10px;
}

.featured .f-category .f-content h4 {
    color: black;
    font-weight: 600;
}

.f-img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}

.f-img img {
    position: absolute;
    height: 100%;
    width: auto;
    top: 30px;
    bottom: 0;
    right: 20px;
    filter: drop-shadow(50px 0px 10px #0005);
    transition: .4s;
}

.featured .f-category:hover img {
    filter: drop-shadow(-50px 0px 10px #0005);
}


/* Awesome products */
.awesome {
    width: 100%;
    margin: 80px 0px !important;
}

.p-items {
    transition: .5s;
    margin: 10px 0px;
    cursor: pointer;
}

.p-details {
    transition: .5s;
    padding-bottom: 20px;
}


.p-img {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: var(--bgColor);
    padding: 10px;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.p-img img {
    width: 100%;
    height: auto;
    background-position: center center;
    background-size: cover;
    transform: scale(.7);
    display: block;
    margin: auto;
}



.p-items .p-details h4{
    font-size: 18px;
    font-weight: 600;
    margin: 16px 0px 5px 0px;
}

.p-items .p-details p span {
    margin: 0px 5px;
    text-decoration: line-through;
    color: #0005;
    font-weight: 300;
    font-size: 15px ;
}

.p-items .p-details p {
    font-weight: 500;
    font-size: 18px ;
}

.p-items .p-details a {
    color: var(--navColor);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-size: 500;
    opacity: 0;
    transition: .5s;
}

.p-items .p-details a i {
    color:black;
    float: right;
}



.p-items:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.188);
}

.p-items:hover .p-details {
    margin: 0px 10px;
}

.p-items:hover a {
    opacity: 1;

}


/* offer section */
.offer {
    width: 100%;
    margin: 80px 0px;
    padding: 80px 0px;
    background-color: var(--bgColor);
}


/* best sell sectin */
.best-sell {
    width: 100%;
    margin: 80px 0px;
}

/* subscription section */
.subscription {
    height: 100vh;
    width: 100%;
    margin: 80px 0;
    background: url('../img/bg-1.avif') no-repeat center center;
    background-size: cover;
}

.sub-content h6 {
    font-size: 16px;
    color: var(--navColor);
    font-weight: 400;
}

.sub-content h2 {
    font-size: 42px;
    color: #fff;
    margin-bottom: 0px;
}

/* Client logo section */

.c-logos {
    width: 100%;
    margin: 80px 0;
}

.c-logos .logo-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns by default */
}

.c-logos .logo-wrapper div {
    border: .5px solid rgb(192, 192, 192);
    padding: 20px;
    filter: grayscale(100%);
    transition: .3s;
    cursor: pointer;
}

.c-logos .logo-wrapper div:hover {
    filter: grayscale(0);
}

/* Responsive grid adjustments */
@media (max-width: 1200px) {
    .c-logos .logo-wrapper {
        grid-template-columns: repeat(4, 1fr); /* 4 columns */
    }

    .c-logos .logo-wrapper div {
        border: none;
    }
}

@media (max-width: 900px) {
    .c-logos .logo-wrapper {
        grid-template-columns: repeat(3, 1fr); /* 3 columns */
    }


    .c-logos .logo-wrapper div {
        border: none;
    }
}

@media (max-width: 600px) {
    .c-logos .logo-wrapper {
        display: none !important;
        
    }


    .c-logos .logo-wrapper div {
        border: none;
    }
}

@media (max-width: 400px) {
    .c-logos .logo-wrapper {
        grid-template-columns: 1fr; /* 1 column */
    }


    .c-logos .logo-wrapper div {
        border: none;
    }
}

/* Remove borders based on grid position */
.c-logos .logo-wrapper div:nth-child(5n+1) {
    border-left: none;
}

.c-logos .logo-wrapper div:nth-child(5n) {
    border-right: none;
}

.c-logos .logo-wrapper div:nth-child(-n+5) {
    border-top: none;
}

.c-logos .logo-wrapper div:nth-child(n+6):nth-child(-n+10) {
    border-bottom: none;
}


/* footer section */
footer {
    margin: 80px 0px 0px 0px;
    padding: 20px 0px 0px 0px;
    border-top: .5px solid #0005;
    box-shadow: -2px 0px 10px #0005;
    width: 100%;
}

footer .footer-item,
footer .links {
    padding: 20px 0px;
}

footer .footer-item h4 {
    font: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}

footer .footer-item ul li {
    list-style: none;
    cursor: pointer;
    line-height: 1.8;
    color: #0005;
}

footer .footer-item ul li a {
    display: inline-block;
    color: var(--linkColor);
    transition: .3s;
}

footer .footer-item ul li:hover a {
    text-decoration: none;
    color: var(--navColor);
    transform: translateX(10px);
}

footer .links div,
footer .copyright .copy-links div {
    gap: 20px;
}

footer .links div a,
footer .copyright .copy-links div a {
    color: #000;
    font-size: 20px;
    transition: .3s;
}
footer .links div a:hover,
footer .copyright .copy-links div a:hover {
    text-decoration: none;
    color: blue;
}

footer .copyright {
    border-top: .5px solid #fff5;
}

footer .copyright .copy-text {
    font-size: 20px;
    font-weight: 300;
}

footer .copyright .copy-links div {
    gap: 20px;
}

footer .copyright .copy-links div a {
    color: #fff !important;
}


/* Login section */
.login {
    width: 100%;
    min-height: 100vh;
    background-color: var(--bgColor);
    display: grid;
    padding: 80px 0px;
}

.login-opt {
    font-size: 14px;
}

.login-lnk {
    gap: 20px;
    font-size: 32px;
}

.login-lnk i {
    cursor: pointer;
    transition: .3s;
}

.login-lnk i:hover {
    color: var(--navColor);
}

/* shop banner section */
.shop-banner {
    width: 100%;
    background-color: var(--bgColor);
    padding:20px 0px;
}

.shop-banner .shop-banner-img {
    aspect-ratio: 3/1;
}

.shop-banner .shop-banner-img img {
    height: 100%;
    width: auto;
    object-fit: cover; /* Makes the image cover the container */
    object-position: center; /* Ensures the image is centered */
}

#shop-banner .owl-dots,
#shop-banner .owl-nav  {
    display:none !important;
}


/* Flash sell section */
.flash-sell,
.new-arrival,
.top-categories {
    margin:40px 0px;
    padding: 20px 0px;
}
.shop-section-header h4 {
    border-top: .5px solid #0005;
    border-bottom: .5px solid #0005;
    padding: 10px 0px 10px 10px;
    color: var(--navColor);
}

.shop-section-header h1 {
    padding: 10px 20px;
    background-color: var(--bgColor);
    color: var(--navColor);
    border-radius: 8px;
}

.show-all a {
    color: var(--navColor);
    font-size: 18px;
    font-weight: 400;
    transition: .3s;
}

.show-all a:hover {
    color: blue;
}

.pro-content {
    position: relative;
    cursor: pointer;
    padding-bottom: 10px;
    transition: .2s;
    overflow: hidden;
    margin: 10px 0px !important;
}

.pro-content:hover {
    box-shadow: 0px 0px  8px #0005;
}

.pro-content .arrivals {
    position: absolute;
    text-align: center;
    padding: 3px 10px;
    right: 10px;
    top: 10px;
    font-size: 14px;
    z-index: 1;
    background-color: red;
    color: #fff;
    font-weight: 700;
    border-radius: 50%;
}

.pro-content .pro-img {
    aspect-ratio: 1/1;
    inset: 0,0,0,0;
    background-color: var(--bgColor);
}

.pro-content .pro-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center center;
    transform: scale(.7);
}

.pro-content .pro-details {
    transition: .3s;
}

.pro-content .pro-details h5 {
    font-size: 18px;
    font-weight: 500;
    margin: 5px 0px;
}

.pro-content .pro-details h6 {
    font-size: 14px;
    font-weight: 500;
    color: #0005;
    letter-spacing: 2px;
}

.pro-content .pro-details p {
    font-size: 18px;
    font-weight: 400;
}

.pro-content .pro-details p span {
    color:#0005;
    font-size: 14px;
    text-decoration: line-through;
    margin: 0px 2px ;
}



.pro-content .pro-details div a {
    color: var(--navColor);
    opacity: 0;
    transition: .3s;
}

.pro-content .pro-details div a i {
    color: #000;
    transition: .5s;
}

.pro-content .pro-details div a:hover i{
    color: var(--navColor);
}

.pro-content:hover .pro-details  {
    padding: 0px 15px;
}

.pro-content:hover a {
    opacity: 1;
}

.pro-content:hover .pro-details div a {
    opacity: 1;
}



@media (max-width: 575.98px) {
    .pro-content {
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .pro-content .pro-img {
        height: 100px;
        width: 100px;
        flex-shrink: 0;
    }

    .pro-content .pro-img img {
        height: 100%;
        width: 100%;
        transform: scale(1);
    }

    .pro-content .pro-details {
        margin-left: 15px;
        flex-grow: 1;
    }
    .pro-content .pro-details h5 {
        font-size: 15px;
    }
}


@media (max-width: 575.98px) {
    .top-categories .pro-content {
        display: block;
        text-align: center;
        padding: 10px;
    }

    .top-categories .pro-img {
        aspect-ratio: 1 / 1;
        width: 100%;
        height: auto !important;
        margin: 0 auto 10px;
    }

    .top-categories .pro-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }

    .top-categories .pro-details {
        margin-top: 10px;
    }

    .top-categories .row > div {
        width: 50%;
        padding: 5px;
    }
    .top-categories .show-all {
        translate: 90%;
    }
}


/* blog section */
.blog-banner {
    margin: 40px 0px;
    padding: 10px 0px;
}

@media (max-width: 767px) {
    .blog-banner {
      display: none;
    }
  }

.blog-banner .banner {
    background-color: transparent;
    gap: 10px;
    aspect-ratio: 3/1;
    height: 50vh;
}

.blog-banner .banner .blog-bannner-img {
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    height: 100%;
    transition: 0.3s;
    position: relative;
    inset: 0; 
    background-size: cover;
    border-radius: 100px;
}
.blog-banner .banner .blog-bannner-img:hover {
    flex: 10;
    border-radius: 0px;

}

.blog-banner .banner .blog-bannner-img h3 {
    position: absolute;
    z-index: 10;
    color: #fff;
    font-size: 32px;
    transform: rotate(90deg);
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    padding: 20px;
    display: flex;
    place-content: center;
    place-items: center;
    text-wrap: nowrap;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.616);
    transition: .3s;
}

.blog-banner .banner .blog-bannner-img:hover h3 {
    opacity: 0;
}

.blog-banner .banner .blog-bannner-img img {
    object-fit: cover;
    width: auto; 
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.blog-banner .banner .blog-bannner-img .blog-banner-details {
    background: linear-gradient(to bottom, rgba(3, 113, 128, 0.1), rgba(3, 113, 128, .7));
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.blog-banner .banner .blog-bannner-img .blog-banner-details div {
    width: 60%;
    margin: 10px 20px;
    padding: 20px 10px;
    background: #fff5;
    backdrop-filter: blur(5px);
    border-radius: 8px ;
    transform: translateY(50px);
    opacity: 0;
    transition: all .3s;
    transition-delay: .3s;
}

.blog-banner .banner .blog-bannner-img .blog-banner-details div h5 {
    color: #fff;
    font-size: 400;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.705);
    margin: 5px 0px;
    padding-bottom: 3px;
    border-bottom: .5px solid #fff;
    transform: translateY(50px);
    opacity: 0;
    transition: .3s;
    transition-delay: .5s;
}

.blog-banner .banner .blog-bannner-img .blog-banner-details div p {
    color: #fff;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 600;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.74);
    margin: 10px 0px;
    transform: translateY(50px);
    opacity: 0;
    transition: .3s;
    transition-delay: .7s;
}

.blog-banner .banner .blog-bannner-img .blog-banner-details div span {
    transform: translateY(50px);
    opacity: 0;
    transition: .3s;
    transition-delay: 1s;
}

.blog-banner .banner .blog-bannner-img:hover div,
.blog-banner .banner .blog-bannner-img:hover .blog-banner-details div h5,
.blog-banner .banner .blog-bannner-img:hover .blog-banner-details div p,
.blog-banner .banner .blog-bannner-img:hover .blog-banner-details div span {
    opacity: 1;
    transform: translateY(0px);
}

.blog-banner .banner .blog-bannner-img:not(:hover) div,
.blog-banner .banner .blog-bannner-img:not(:hover) .blog-banner-details div h5,
.blog-banner .banner .blog-bannner-img:not(:hover) .blog-banner-details div p,
.blog-banner .banner .blog-bannner-img:not(:hover) .blog-banner-details div span {
    transition-delay: 0s;
}

/* blog-section  */
.blog-section {
    margin: 80px 0px;
    padding: 20px 0px;
    width: 100%;
}

.blog-section .section-header {
    font-size: 52px;
    padding: 10px;
    border-top: .5px solid #0005 ;
    border-bottom: .5px solid #0005 ;
    background-color: var(--bgColor);
}


.daily-post {
    border: .5px solid #0005;
    box-shadow: 0px 0px 5px #0005;
    margin: 20px 0px;
}

.daily-post img {
    width: 100%;
    height: auto;
    border-bottom: 2.5px solid var(--navColor);
}

.daily-blog-content .blog-up-detail {
    gap: 20px;
    margin:10px 0px 20px 0px;
    font-weight: 300;
    font-size: 14px;
}
 .daily-blog-content .blog-up-detail a {
    color: rgba(0, 0, 0, 0.709);
    
}
.blog-section .daily-blog-content .blog-up-detail a:hover {
    color: blue;
}

.blog-section .daily-blog-content p {
    font-size: 15;
    margin: 10px 0px 20px 0px;
    font-weight: 400;
    line-height: 1.8;
    line-break: auto;
} 

/* blog sidebar */
.blg-sider {
    position:relative;
}
.blog-side-bar .social-links {
    gap: 20px;
    font-size: 20px;
}

.blog-side-bar .social-links a {
    color: #000;
}

.blog-side-bar .social-links a:hover {
    color: blue;
}

.suggestions .suggest {
    gap: 10px;
    margin: 10px 0px; 
    cursor: pointer;
}

.suggestions .suggest h5 a {
    color: #000;
}

.suggestions .suggest h5:hover a {
    color: blue;
}

@media (max-width: 767px) {
    .suggestions {
      display: none;
    }
}


/* Blog header section start */

.blog-main-content {
    width: 100%;
    position: relative;
}

.blog-main-content .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 90vh;
    z-index: -1;
    background-color: var(--bgColor);
}

.blog-content {
    border: .5px solid #0005;
    box-shadow: 0px 0px 8px #0005;
    margin: 20px 0px 80px 0px;
    background: #fff;
}

.blog-content h4 {
    position: relative;
    background-color: var(--bg2);
    line-height: 1.8;
    padding: 0px 10px;
}

.blog-content .blog-details {
    padding: 0px 10px;
    margin: 20px 0px;
}

.blog-content .blog-img-right-details,
.blog-content .blog-img-left-details {
    padding: 0px 10px;
    margin: 10px 0px;
}

.blog-content .blog-img-right-details img,
.blog-content .blog-img-left-details img {
    border: .5px solid #0005
}

details summary {
    color: var(--navColor);
}

details p {
    padding: 10px;
    background-color: var(--navColor);
    color: #fff;
}

.blog-content .blog-img-right-details p,
.blog-content .blog-img-left-details p,
.blog-details p {
    font-size: 18px;
    line-height: 1.5;
}


/* buy now section */
.product-section {
    margin: 80px 0px;
    padding: 20px 0px;
    width: 100%;
    position: relative;
}

.shop-filter {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    max-height: 300vh;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.toggler {
    display: none !important;
}

@media (max-width: 767px) {
    .shop-filter {
        max-height: 0; 
        transition: max-height 0.5s ease;
    }
    .toggler {
        display: flex !important;
    }
}

.shop-filter.show {
    max-height: 300vh; /* Adjust as per content height */
    transition: max-height 0.5s ease;
}

.toggler h4,
.shop-filter .categories-selection h4 {
    font-size: 20px !important;
    font-weight: 400;
}

.toggler h4 span,
.shop-filter .categories-selection h4 span {
    color: var(--navColor);
    font-size: 30px !important;
    font-weight: 500;
}

.shop-filter .categories-selection .form-check {
    font-size: 15px;
    line-height: 1.8;
}


/* product details section */
.product-details {
    margin: 80px 0px;
    padding:20px 0px;
    width: 100%;
}


.main-img div, 
.sub-img div {
    aspect-ratio: 1/1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--bgColor);
    cursor: pointer;
    border-radius: .3rem;
    margin-bottom: 10px;
}

.main-img div img, 
.sub-img div img {
    width: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: center center;
    -o-object-position: center center;
    transform: scale(.8);
    transition: .3s;
}

.main-img div:hover img, 
.sub-img div:hover img {
    transform: scale(.9);
}

.product-details .details h4 {
    font-size: 30px !important;
}

.product-details .details h6 {
    font-size: 14 !important;
    color:rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    line-height: 0;
}

.product-details .details p {
    margin: 15px 0px 10px 0px;
    font-size: 15px;
    line-height: 1.5;
}
.product-details .details .price {
    font-size: 18px;
    font-weight: 600;
}

.product-details .details .price span {
    font-size: 14px;
    text-decoration: line-through;
    margin:0px 1px;
}

.product-details .details .button {
    gap: 30px;
}
.qty {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	text-align: center;
	
	label {
		flex: 1 0 100%;		
	}
	input {
		/* width: 7rem; height: 3rem;	 */
		font-size: 1.3rem;
		text-align: center;
		border: 1px solid var(--navColor);
	}
	button {
		width: 3rem; height: 3rem;
		color: #fff;
        border: 0;
		font-size: 2rem;
		background: var(--navColor);
	}
	button.qtyminus {
		margin-right: 0.3rem;
	}
	button.qtyplus {
		margin-left: 0.3rem;
	}
}